{% extends 'base.html' %}
{% block bodyContent %}
            <h4 class="btn btn-primary font-weight-bold mb-5">participants of {{contest}}</h4>

    <div class="tableContainer">

            <table class="table-bordered">
            <tr>
                <th>Name</th>
                <th>Score</th>
                <th>Email</th>
                <th>Branch</th>
                <th>Roll_no</th>
            </tr>
            {% for i in participants %}
            <tr>
            <td>{{i.0}}</td>
            
            <td>{{i.1}}</td>
            <td>{{i.2}}</td>
            <td>{{i.3}}</td>
            <td>{{i.4}}</td>  
            </tr>
            
            {% endfor %}
            </table>        
    </div>

{% endblock bodyContent %} 