{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block bodyContent %}
<form class="form-group" action="/createQuestions/" method="POST">
    {% csrf_token %}
    
    <h4 class="btn btn-block btn-default mt-4">Question: {{qNo}}/{{noOfQues}}</h4>


    <div class="container">
    <input type="text" name="contestId" value={{contestId}} hidden>
    <input type="text" name="qNo" value={{qNo}} hidden>
    {{form|crispy}}
    </div>
    <input type="submit" class="btn btn-block btn-default mb-4">   
</form>

{% endblock bodyContent %}
